/** Css para pagina de login **/

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    background-color: #fafdff;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 400px;
}

.login-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.gradient-text {
    background: linear-gradient(to right, #4a9ef8, #8137f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-wrapper {
    position: relative;
}

.btn-login {
    width: 100%;
    background: linear-gradient(to right, #4a9ef8, #8137f9);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-login:hover {
    background: linear-gradient(to right, #398ae1, #6e2bdb);
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #398ae1;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.rodape{
    background-color: black;
    justify-content: center;
    padding: 8px;
    width: 100%;
    display: flex;
    border-radius: 2px;
}